@font-face {
    font-family: one;
    src: url(montserrat-regular.woff);
}
@font-face {
    font-family: two;
    src: url(montserrat-regular\ \(1\).woff);
}
@font-face {
    font-family: three;
    src: url(guardiansans-semibold.woff);
}
@font-face {
    font-family: four;
    src: url(reicons.woff);
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#page{
    height: 100%;
    width: 100%;
}
#nav{
    height: 80px;
    width: 100%;
    background-color: black;
}
#nav>img{
    height:40%;
    margin-top: 1.5%;
    margin-left: 5%;

}
#nav>h1>img{
    position: fixed;
    left: 90%;
    top: 13%;
    
}
#bg{
    height: 85%;
    width: 100%;
}
#bg>img{
    height: 100%;
    width: 100%; 
    background-position: center;
    background-size: cover;

}

#bikes{
    height: 80%;
    width: 70%;
    position: relative;
    bottom: 100%;
    left: 20%;
    /* overflow: hidden; */
    
 }
 
 #bikes>img{
    height: 100%;
    margin-right: 10%;
    background-position: center;
    background-size: cover;
    
 }
 #logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 130px;
    width: 119%;
    margin-top: -3%;
    margin-left: -17%;
    padding: 0px 40px;
 }
 #logo>img{
    height: 80%;
 }
 #text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    width: 120%;
    margin-top: -1%;
    margin-left: -17%;
    padding: 0px 40px;
 }
 #text>h5{
    font-size: 20px;
    font-family: one;
 }
 #cl{
    position: relative;
    left: 45%;
    width: 10%;
    height: 20%;

 }
#page1{
    height: 85%;
    width: 100%;
}
#page1>h1{
    margin-left: 40%;
    font-family: one;
    font-size: 28px;
}
h4{
    margin-top: 2%;
    margin-left: 27%;
    font-family: one;
    font-size: 18px;
    color: rgb(31, 30, 30);
}
#input{
    height: 10%;
    width: 56%;
    margin-left: 22%;
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
#input>input{
    height: 65px;
    width: 450px;
    font-size: 18px;
    padding: 0px 25px;

}
#input2{
    height: 10%;
    width: 56%;
    margin-left: 22%;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
#input2>input{
    height: 65px;
    width: 450px;
    font-size: 18px;
    border: 1px solid black;
    padding: 0px 25px;

}
#page1>h5{
    width: 57%;
    font-size: 16px;
    margin-left: 22%;
    margin-top: 2%;
    line-height: 30px;
    font-family: two;
    color: #7c7979;
    font-weight: lighter;
}
h5>span{
    color: black;
}
#page1>h3{
    width: 57%;
    font-size: 16px;
    margin-left: 22%;
    margin-top: 1%;
    line-height: 30px;
    font-family: two;
    color: #7c7979;
    font-weight: lighter;
}
h3>span{
    color: black;
}
h3>input{
    height: 20px;
    width: 20px;
    border: 1px solid black;
}
#page1>button{
    height: 45px;
    width: 200px;
    background-color: #DA291C;
    font-size: 18px;
    text-align: center;
    font-family: one;
    color: #fff;
    border: none;
    margin-left: 45%;
    margin-top: 2.5%;
}
#page1>button>i{
    font-size: 25px;
    text-align: center;
}
#page1>#navpart{
    height: 70px;
    width: 100%;
    background-color: black;
    margin-top: 1.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#navpart>h2{
    color: white;
    font-size: 17px;
    font-family: two;
    font-weight: 500;
    padding: 0px 90px;
}

